* {
    padding: 0;
    margin: 0;
    color: white;

}

body {
    background-color: black;
}

nav,
.nav-right,
.hero,
.hero-input,
.feature-card,
.faq,
.que-title {
    display: flex;
    align-items: center;
}

nav,
.feature-card,
.foot-container,
.faq {
    padding: 0 3rem;
    max-width: calc(80% - 3rem);
}

input[type=search] {
    appearance: none;

}

button {
    appearance: none;
    border: none;
    cursor: pointer;
}

.btn {
    padding: 8px 15px;
    border-radius: 3px;
    background-color: red;
}

.main {
    position: relative;
    background: url(material/images/bg.jpg) center/cover no-repeat;
    background-size: 1000;
    width: 100%;
    height: 700px;
}

nav {
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    height: 90px;
    gap: 20px;
    z-index: 10;
}

.logo img {
    width: 150px;
}

.nav-right {
    gap: 20px;
}

.nav-right>button {
    font-size: 1rem;
    padding: 5px 15px;
    border-radius: 3px;
}

.lang-select,
#inp-email {
    border: 1px solid gray;
    background-color: rgba(36, 36, 36, 0.404);
}

.lang-select {
    font-size: 1rem;
    padding: 5px 15px;
    border-radius: 3px;
}

.main .box {
    position: absolute;
    top: 0;
    height: inherit;
    width: 100%;
    background: radial-gradient(rgba(0, 0, 0, 0.377), rgb(0, 0, 0));
}

.hero {
    position: relative;
    height: calc(100% - 90px);
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 0 30px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 48px;
    text-align: center;

}

.hero h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

}

.hero p {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;

}

hero-input {
    justify-content: center;
    gap: 0.5rem;
}

#inp-email {
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 3px;
    padding: 1rem;
}

.hero-input .btn {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.75rem 1.5rem;
}

.separation {
    height: 8px;
    width: 100%;
    background-color: rgb(73, 70, 70);
}


.feature-card {
    flex-direction: row;
    justify-content: center;
    padding: 60px 50px;
    margin: auto;
}

.second,
.fourth {
    flex-direction: row-reverse;
}

.card-des,
.card-video {
    flex-basis: 50%;
    /* intial size */
}

.card-des h1 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 20px;
}

.card-des p {
    font-size: 25px;
    font-weight: 400;
}

.card-video {
    position: relative;
}

.card-video video {
    position: absolute;
    height: 55%;
    left: 12.5%;
    top: 20%;
    z-index: -1;
}

.third .card-video video {
    height: 44%;
    top: 10%;
    left: 20%;
}

/* faq */

.faq {
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 60px 50px;
    gap: 10px;
}

.faq h1 {
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 10px;
}

/* capsule */

.faq p {
    margin: 10px 0 10px 0;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.que-capsule {
    width: 100%;
    background-color: rgba(215, 206, 206, 0.334);
}

.que-title,
.que-ans {
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
}


.que-title {
    width: 100%;
    background-color: inherit;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.528);
}

.que-ans {
    display: none;
}

/* footer */

.foot-container {
    margin: 45px auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 15px;
}


.foot-tele,
.foot-lang,
.foot-region {
    grid-column: 1/5;
}

.foot-tele p {
    margin-bottom: 15px;
}


.foot-region p,
.foot-lang button {
    margin-top: 15px;
}

.foot-link {
    text-decoration: none;
}

.foot-link:hover {
    text-decoration: underline;
}

.foot-tele a {
    text-decoration: none;
}

.foot-tele a:hover {
    text-decoration: underline;
}

.foot-lang button:hover {
    background-color: red;
}

/* responsive css */

@media screen and (min-width:1920px) {

    nav,
    .feature-card,
    .foot-container,
    .faq {
        padding: 0 2rem;
        max-width: calc(60% - 3rem);
    }

    .feature-card {
        padding: 60px 40px;
    }
}

@media screen and(max-width:1280px) {

    nav,
    .feature-card,
    .foot-container,
    .faq {
        padding: 0 1.5rem;
        max-width: calc(50% - 2rem);
    }

    .feature-card {
        padding: 40px 20px;
    }
}

@media screen and(max-width:960px) {

    .logo img {
        width: 100px;
    }

    .nav-right {
        gap: 10px;
    }

    .main {
        height: 500px;
    }

    .hero h1 {
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
        text-align: center;

    }

    .hero h2 {
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        text-align: center;

    }

    .hero p {
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        text-align: center;

    }

    .feature-card {
        flex-direction: column;
        gap: 15px;
    }




}


@media screen and (max-width:600px){
    .hero-input{
        flex-direction: column;
    }
}